<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    
    <link rel="prefetch" href="../static/style/nav.css" as="style" />
    <link rel="stylesheet" href="../static/style/nav.css" />

    <link rel="prefetch" href="../static/style/home/style.css" as="style" />
    <link rel="stylesheet" href="../static/style/home/style.css" />

    <link rel="prefetch" href="../static/script/home/script.js" as="script" />
    <script type="module" src="../static/script/home/script.js"></script>
</head>
<body>
    <%- include("partials/nav.ejs",{ type, isLoggedIn }); %>
    <div class="about">
    <div class="main">
    <div class="flex-list">
        <div class="flex-item">
          <div class="image animated animated-box"></div>
          <div class="desc">
            <div class="title type-title">Placement Prediction</div>
            <div class="sub-title">
              With the use of this service, students can ascertain their placement
              status on campus. The machine learning algorithm's prediction will 
              be based on past recruitment statistics and take into account student 
              data such as academic information, including all of the marks earned 
              in each course the student has taken.The user is the only one who may 
              view the prediction result; recruiters will not be privy to it. If a 
              student receives a negative prognosis, they can still develop by dedicating
              more time to practicing the skills that the suggestions indicate.
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="image animated animated-box"></div>
          <div class="desc">
            <div class="title type-title">Resource Sharing</div>
            <div class="sub-title">
              It might be challenging to find the correct information among the 
              abundance of content available online. Through resource sharing, 
              coordinators can add resources to a storage system that students can 
              access. E-books, video tutorials, and other resources could be included 
              in the resources.An encrypted storage system houses the resources. There 
              are no departmental, semesteral, or other restrictions on data access. 
              Students from any department or semester who are logged in can view it 
              publicly once it has been submitted.
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="image animated animated-box"></div>
          <div class="desc">
            <div class="title type-title">Placement Statistics</div>
            <div class="sub-title">
              No login is required to view Placement Statistics, which are accessible 
              to everybody. With the use of this tool, users may see past data on 
              student placement, including the number of employers giving job opportunities, 
              the number of students placed, the top corporations offering salaries, 
              the top recruiting firms, and so on. Since these data are available to 
              the public, students who are considering enrolling in the college will 
              find it helpful to learn more about the specifics of placement.
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="image animated animated-box"></div>
          <div class="desc">
            <div class="title type-title">Campus Placement</div>
            <div class="sub-title">
              With the help of the Campus Placement Management function, recruiters 
              may publish positions and internships together with a comprehensive 
              description that includes the compensation, requirements, qualifications, 
              rounds of the selection process, multiple-choice questions for each stage,
              and more. Students can apply for the position they want, and if they qualify, 
              they will be taken into consideration for the next round of hiring. The 
              first round will probably include of multiple-choice questions (MCQs), and 
              students can advance to the next level if they meet the recruiter's requirements.
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="image animated animated-box"></div>
          <div class="desc">
            <div class="title type-title">Explore more Oportunities</div>
            <div class="sub-title">
              Sometimes, some students may feel that there are not enough internships on 
              campus. Through some third-party APIs, weprovide information about external 
              jobs posted by companies and students canparticipate in them according to the 
              criteria set by the recruiter who posted the job. Ensuring the legality of these 
              messages is not the responsibility of users/members of this location management 
              system.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>